.button {
  @include button;

  &:hover {
    @include button-hover;
  }
}

.button {
  &--outline {
    @include button-outline;
  }
  &--white {
    @include button-white;
  }
  &--surface {
    @include button-surface;
  }
  &--square {
    @include button-square;
  }
  &--backgroundless, .button-backgroundless & {
    &:not(:hover):not(:focus) {
      background-color: transparent;
      color: inherit;
      border-color: transparent;
    }
  }
  &-group {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1em;
    .button--backgroundless {
      padding-inline: 0;
      &:hover {
        background-color: transparent !important;
        border-color: transparent !important;
        color: var(--color-link) !important;
      }
    }
  }
}


