.button-menu {
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    &__button {
        --color-link: var(--color-text-muted);
        padding: var(--spacer-element) 0;
        text-decoration-thickness: 2px;
        text-underline-offset: calc(var(--spacer-element) + 1px);
        margin-right: var(--spacer-element);
        line-height: 1;
        display: inline-block;
        vertical-align: middle;
        @include underline-reverse;
        &:hover,
        &.active {
            --color-link: var(--color-primary);
        }
    }
    .button {
        &:not(:last-child) {
            margin-right: var(--spacer-element-sm);
        }
        &:hover {
            @include button-primary;
        }
        &:not(.active):not(:hover) {
            @include button-surface;
        }
    }
    .active {
        pointer-events: none;
        text-decoration-color: currentColor;
    }

}
