.card {
  $self: &;
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  gap: var(--spacer-element-sm);
  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    gap: var(--spacer-element-sm);
  }
  &__content {
    padding: var(--spacer-element-sm) 0;
    > * {
      margin: 0;
    }
  }
  &__header {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-element);
  }
  &__title {
    position: relative;
    color: var(--color-white);
  }
  &__content + &__link {
    background: var(--color-surface);
  }
  &__link {
    padding: var(--spacer-element-sm);
    color: currentColor;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: var(--spacer-element-sm);
  }
  @at-root #{selector-append(a, &)} {
    &:hover {
      color: inherit;
    }

    &:hover #{$self}__icon {
      opacity: 1;
    }
  }
}
