$card-spacer: 0.65em;

.card {
  $self: &;
  color: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  transition: border-color var(--transition);

  &__body {
    --heading-text-transform: initial;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    padding-top: $card-spacer;
    gap: $card-spacer;

    #{$self}--alt & {
      padding-left: 1.5em;
      padding-right: 1.5em;
      text-align: left;
    }
  }
  &__content {
    padding: $card-spacer 0;
    > * {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-alt {
      > * {
        margin-bottom: $card-spacer;
      }
    }
  }
  &__header {
    position: relative;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacer-element);
  }
  &__title {
    position: relative;
    color: var(--color-white);
  }

  &__content + &__link {
    background: var(--color-surface);
  }
  &__link {
    padding: $card-spacer;
    color: currentColor;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: var(--heading-font-weight);
    gap: $card-spacer;
    text-transform: uppercase;

    #{$self}--alt & {
      text-transform: inherit;
      background: transparent;
      padding: $card-spacer 0 var(--spacer-element);
      justify-content: space-between;
      &-title {
        opacity: 0.6;
        font-size: var(--fs-sm);
      }
    }
  }
  @at-root #{selector-append(a, &)} {
    &--alt {
      border-bottom: var(--border-width) solid transparent;
      img {
        transition: scale var(--transition);
      }
      &:hover {
        border-color: currentColor;
        img {
          scale: 1.03;
        }
      }
    }
    &:hover {
      color: inherit;
    }
  }

  &-alt {
    --card-spacer: #{clamp-smart(25px, 80px, 500px)};
    border-bottom: var(--border-width) solid var(--color-surface);
    padding: var(--card-spacer) 0 !important;
    &__imgs {
      // margin-bottom: var(--spacer-element);
      // @include bp(md) {
      //   margin-bottom: 0;
      //   .swiper {
      //     margin-bottom: calc(var(--card-spacer) * -1);
      //   }
      // }
      img {
        aspect-ratio: 4/3;
      }
    }
    &__content {
      > :first-child {
        margin-top: 0;
      }
      > :last-child {
        margin-bottom: 0;
      }
    }
    .button--square {
      padding: 0;
    }
  }
}
