.gallery {
  display: grid;
  gap: var(--spacer-element);
  grid-template-columns: 3fr 2fr 3fr 2fr;
  grid-auto-rows: minmax(0, 23vw);
  grid-auto-flow: dense;

  > a {
    grid-column: span 2;
    @include bp(md, max) {
      &:nth-child(2n + 1) {
        grid-row: span 2;
      }
    }
    @include bp(md) {
      &:nth-child(5n + 2) {
        grid-row: span 2;
      }
      &:nth-child(5n + 3),
      &:nth-child(6n + 4) {
        grid-column: span 1;
      }
      &:last-child {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }
  .galleries & {
    opacity: 1;
    visibility: visible;
    transition: opacity var(--transition);
    &:not(.active) {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -100;
      top: 0;
      left: 0;
    }
  }
  &__images {
    position: relative;
    padding: 0 var(--spacer-element) var(--spacer-element);
  }
  img {
    height: 100%;
    width: 100%;
    transition: filter var(--transition);
    &:not(:hover) {
      filter: brightness(.85);
    }
  }
}
