ul.page-numbers,
.pagination {
  list-style: none;
  padding: 0;
  margin: var(--spacer-element-md) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  li {
    margin: 0;
  }

  .page-numbers {
    @include button;
    @include button-square;
    .site-icon {
      font-size: 1.4em;
    }
    &:not(.current):not(:hover) {
      background: var(--color-surface);
      border-color: transparent;
      color: currentColor;
    }
    &.current {
      pointer-events: none;
    }
  }
}
