.site-icon {
  width: 1.1em;
  height: 1.1em;
  display: inline-flex;
  vertical-align: middle;
  .hstack & {
    flex: 1 0 auto;
  }
  &--chevron {
    @include mask-icon("chevron");
  }
  &--close {
    @include mask-icon("close");
  }
  &--left {
    rotate: 90deg;
  }
  &--right {
    rotate: -90deg;
  }
  &--arrow {
    flex: 0 0 auto;
    clip-path: content-box;
    transform: var(--site-arrow-transform);
    vertical-align: middle;
    transition: transform var(--transition);
    will-change: transform;
    a:hover & {
      transform: var(--site-arrow-transform-hover, rotate(0deg) translate(0));
    }
    &::after {
      content: "";
      @include mask-icon(var(--site-arrow), currentColor, true);
      width: inherit;
      height: inherit;
    }
  }
  &-rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    flex: 0 0 auto;
    border-radius: 100%;
    transition:
      background-color var(--transition),
      color var(--transition);
    background: var(--icon-background-color, var(--color-primary));
    color: var(--icon-color, var(--color-white));
    .color-text-white & {
      background: var(--icon-background-color-opposite, var(--color-white));
      color: var(--icon-color-opposite, var(--color-primary));
    }
    &:hover,
    a:hover & {
      color: var(--icon-color-hover, var(--color-white));
      background: var(--icon-background-color-hover, var(--color-button-background-hover));
      .color-text-white & {
        color: var(--icon-color-opposite-hover, var(--color-white));
        background: var(--icon-background-color-opposite-hover, var(--color-primary));
      }
    }
  }
}
