.site-icon {
  width: 1.1em;
  height: 1.1em;
  display: inline-flex;
  &--chevron {
    @include mask-icon("chevron");
  }
  &--close {
    @include mask-icon("close");
  }
  &--left {
    rotate: 90deg;
  }
  &--right {
    rotate: -90deg;
  }
  &--arrow {
    flex: 0 0 auto;
    clip-path: content-box;
    transform: var(--site-arrow-transform);
    vertical-align: middle;
    transition: transform var(--transition);
    a:hover & {
      transform: rotate(0deg) translate(0);
    }
    &::after {
      content: "";
      @include mask-icon(var(--site-arrow), currentColor, true);
      width: inherit;
      height: inherit;
    }
  }
  &-rounded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 2.5em;
    flex: 0 0 auto;
    border-radius: 100%;
    transition: background-color var(--transition), color var(--transition);
    background: var(--color-primary);
    color: var(--color-white);
    .color-text-white & {
      background: var(--color-white);
      color: var(--color-primary);
    }
    &:hover,
    a:hover & {
      .color-text-white & {
        background: var(--color-primary);
        color: var(--color-white);
      }
      background: var(--color-button-background-hover);
    }
  }
}
