.target-content {
  &__content:not(:first-child) {
    padding-top: var(--spacer-5);
  }
  &__buttons {
    position: sticky;
    top: calc(var(--header-height) - 1px);
    background: var(--color-surface-solid);
    z-index: 10;
    margin-bottom: var(--spacer-5);
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(var(--color-text-rgb),0.07);
    border-width: 5px;
    border-color: var(--color-body);
  }  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--color-text-rgb), 0.1);
  }
  
  ::-webkit-scrollbar-track {
    background: var(--color-body);
  }
  
}
