.target-content {
  &__content:not(:first-child) {
    padding-top: var(--spacer-5);
  }
  &__buttons {
    position: sticky;
    top: calc(var(--header-height) - 1px);
    z-index: 10;
    margin-bottom: var(--spacer-5);
  }
}
