@mixin dropdown() {
  position: absolute;
  list-style: none;
  margin: 0;
  top: 100%;
  left: calc(var(--spacer-element) * -1);
  padding: var(--spacer-element-sm) 0;
  z-index: 10;
  white-space: nowrap;
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  translate: 0 10px;
  transition: opacity var(--transition), visibility var(--transition), translate var(--transition);
  opacity: 0;
  visibility: hidden;
  &::after {
    content: '';
    @include stretch;
    opacity: .95;
    z-index: -1;
    background: var(--header-background-color);
  }
  .theme-color-dark & {
    color: var(--color-white);
    a {
      color: inherit;
    }
  }
  ul {
    top: calc(var(--spacer-element-sm) * -1);
    left: 100%;
  }

  li:hover, .current-menu-item, .current-menu-parent, .current-menu-ancestor {
    background: var(--color-surface);
  }

  a {
    padding: var(--spacer-element-sm) var(--spacer-element);
  }
}

@mixin dropdown-visible() {
  visibility: visible;
  opacity: 1;
  translate: 0;
}
