@mixin input-base {
  padding: 0 var(--input-x-padding);
  min-height: var(--input-height);
  background: var(--color-input-background);
  border: var(--border-width) solid var(--color-input-border);
  color: inherit;
  border-radius: 0;
  transition: border-color var(--transition);
}

@mixin input-hover {
  border-color: var(--color-input-border-hover);
}

@mixin input-focus {
  border-color: var(--color-input-border-focus);
}
