@mixin underline-base {
  text-decoration: underline;
  text-underline-offset: 20%;
  text-decoration-thickness: var(--border-width);
}

@mixin underline($hover: true) {
  text-decoration-color: currentColor;
  @if $hover {
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

@mixin underline-reverse($hover: true) {
  text-decoration-color: transparent;
  @if $hover {
    &:hover {
      text-decoration-color: currentColor;
    }
  }
}
