.color-text {
  &-primary {
    color: var(--color-primary);
  }
  &-secondary {
    color: var(--color-secondary);
  }
  &-white {
    --color-text-muted: var(--color-white-muted);
    color: var(--color-white);

    a:not([class]) {
      color: inherit;
    }
  }
  &-muted {
    color: var(--color-text-muted);
  }
}
