.m {
  &-0 {
    margin: 0 !important;
  }
  &b-0 {
    margin-bottom: 0;
  }
  &t-0 {
    margin-top: 0;
  }
  &t-spacer-element-half {
    margin-top: var(--spacer-element-sm);
  }
  &b-spacer-element {
    margin-bottom: var(--spacer-element);
  }
}

/*
  Add manually if need:
  .spacer-section-p*-sm
  .spacer-section-p*-lg
  .spacer-section-m*-lg
  .spacer-section-m*-sm
  etc.
*/

.spacer-section {
  @each $direction, $suffix in (top: "t", bottom: "b") {
    // padding
    &-p#{$suffix},
    &-py {
      padding-#{$direction}: var(--spacer-section);
      &-half {
        padding-#{$direction}: var(--spacer-section-half);
      }
    }
    
    // margin
    &-m#{$suffix},
    &-my {
      margin-#{$direction}: var(--spacer-section);
      &-half {
        margin-#{$direction}: var(--spacer-section-half);
      }
    }
  }
}

.gap {
  @each $name, $value in $spacers {
    &-#{$name} {
      gap: var(--spacer-#{$name});
    }
  }
}