small {
  font-size: var(--fs-sm);
}

.fs {
  &-xs {
    font-size: var(--fs-xs);
  }
  &-sm {
    font-size: var(--fs-sm);
  }
  &-lg {
    font-size: var(--fs-lg);
  }
  &-xl {
    font-size: var(--fs-xl);
  }
}
