body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  accent-color: var(--color-primary);
  background: var(--color-body);
  color: var(--color-text);
  font-family: var(--ff-primary, sans-serif);
  line-height: var(--line-height);
  font-size: var(--fs-sm);
  @include bp(md) {
    font-size: var(--fs-base);
  }
  @include bp(xxl) {
    font-size: var(--fs-lg);
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
address,
table,
hr,
.spacer-element {
  margin: var(--spacer-element) 0;
}

::selection {
  background-color: rgba(var(--color-primary-rgb), 0.7);
  color: var(--color-white);
}

:focus-within {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
}
*,
::before,
::after {
  box-sizing: border-box;
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01s !important;
    transition-delay: 0s !important;
  }
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

hr {
  background-color: currentColor;
  border: 0;
  height: var(--border-width);
  overflow: visible;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--color-text-rgb),0.2);
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--color-text-rgb), 0.3);
}
