input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
  width: 100%;
  @include input-base;
  &:hover {
    @include input-hover;
  }
  &:focus {
    @include input-focus;
  }
  &:focus-visible {
    outline: none;
  }
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

textarea {
  resize: vertical;
  line-height: inherit;
  padding-top: var(--input-y-padding);
  padding-bottom: var(--input-y-padding);
}

select {
  word-wrap: normal;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.59 0L6 4.32659L1.41 0L0 1.33198L6 7L12 1.33198L10.59 0Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  background-size: 0.6em;
  background-repeat: no-repeat;
  background-position: right 0.5em center;
  line-height: var(--input-height);
  &:disabled {
    opacity: 1;
  }
}

input[type="number"] {
  padding-right: var(--input-y-padding);
}

fieldset {
  margin: 0;
  padding: 0.5em 1em;
  border: var(--border-width) solid var(--color-border);
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

label {
  display: inline-block;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
  width: 1em;
  height: 1em;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}
