@include bp(xl, max) {
  .is-locked {
    overflow: hidden;
  }
}

.align-items {
  &-center {
    align-items: center;
  }
  &-end {
    align-items: flex-end;
  }
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: flex-end;
  }
}

.flex {
  &-column-reverse {
    flex-direction: column-reverse;
  }
  &-md-row-reverse {
    @include bp(md) {
      flex-direction: row-reverse;
    }
  }
  &-md-row {
    @include bp(md) {
      flex-direction: row;
    }
  }
}

.stretch-child > :first-child,
.stretch {
  @include stretch;
}

.pos {
  &-rel {
    position: relative;
  }
  &-fixed {
    position: fixed;
  }
}

.overflow {
  &-hidden {
    overflow: hidden;
  }
  &-visible {
    overflow: visible !important;
  }
}

.element-collapsing {
  height: 0;
  overflow: hidden;
  transition: height var(--transition);
}

.element-collapse {
  &:not(.element-show) {
    display: none;
  }
}

.screen-reader-text {
  @include visually-hidden;
}

.icon-label {
  display: inline-flex;
  gap: var(--spacer-element-sm);
  align-items: center;
  @include underline-reverse;
  font-weight: bold;
  text-transform: uppercase;
}

.icon-inline {
  vertical-align: inherit !important;
  margin-right: 0.25em;
}
.contact-spacer {
  &:not(:first-child) {
    margin-top: 3em;
  }
}

.vstack {
  @include vstack;
}

.hstack {
  @include hstack;
}

.text-indent {
  padding-left: var(--text-indent);
}

.site-subtitle {
  color: var(--color-primary);
  @include underline-base;
  @include underline(false);
}

.custom-logo {
  height: var(--header-height);
  width: auto;
  object-fit: contain;
  padding: 0.3em 0;
}

.site-decor {
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--decor-width);
  background: var(--color-primary);
  opacity: 0.8;
  border-radius: var(--decor-border-radius, 50%);
  aspect-ratio: 1;
  translate: -50% -50%;
  transition: width calc(var(--transition-duration) * 1.4) var(--transition-timing-function);
  a:hover & {
    width: var(--decor-width-hover, 150%);
  }
}

.banner-decor {
  padding: 20% 10% 10%;
  background: var(--color-surface-solid);
  border-radius: 100rem 100rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 2/1;
  margin: 0 auto;
  @include bp(md) {
    padding: 10% 10% 5%;
    max-width: 70%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.search {
  &-form {
    display: flex;
    flex-wrap: wrap;
    label {
      flex: 1 0 auto;
    }
  }
  &-submit {
    @extend .button;
  }
}

.simpleParallax {
  @include stretch;
}

.img-parallax {
  transform: scale(1.5);
}

.block-header {
  margin: var(--spacer-element-sm) 0;
}

.p-0 {
  padding: 0 !important;
}

.img-rounded {
  width: 5em !important;
  border-radius: 100%;
  aspect-ratio: 1;
}

.lh-sm {
  line-height: 1.4;
}

.page-header-container {
  position: relative;
  padding: var(--spacer-element) var(--spacer-section-half);
  margin: var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16/9;
  width: 100%;
  @include bp(md) {
    width: 60%;
  }
  .site-decor {
    z-index: -1;
  }
}

.pswp.pswp--open:not(.pswp--ui-visible) {
  opacity: 0 !important;
  transition: 0.1s !important;
}

.title-decore {
  position: sticky;
  top: calc(var(--header-height) * 1.2);
  color: var(--color-primary);
  writing-mode: vertical-lr;
  scale: -1;
}

.img-stretch {
  height: 100%;
  width: 100%;
}

.py-md-max-0 {
  @include bp(md, max) {
    padding-top: 0 !important;
  }
}

body {
  #sb_instagram #sbi_load .sbi_load_btn,
  #sb_instagram .sbi_follow_btn a {
    padding-inline: 1em;
    min-height: var(--input-height);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background: var(--color-primary);
    border-radius: 0;
    box-shadow: none !important;
    transition:
      background var(--transition),
      color var(--transition);
    .sbi_btn_text {
      transition: none !important;
    }
    &:hover {
      background: var(--color-primary) !important;
      color: var(--color-white) !important;
    }
  }
}

#tripleseat_embed_form {
  table {
    margin-top: 0;
  }
  h2 {
    font-size: var(--h6);
  }
  tr:not(:first-child) h2 {
    margin-top: var(--spacer-element);
  }
  .button,
  tbody tr {
    border-color: transparent !important;
  }

  .g-recaptcha {
    > div {
      width: 100% !important;
    }
  }

  #submit_spinner + a {
    margin-top: var(--spacer-element);
  }

  @include bp(sm, max) {
    table tfoot tr,
    table tbody tr {
      display: flex;
      flex-direction: column;
    }
  }
  .button {
    font-size: 1em !important;
  }
}

#tsLeadSuccessMessage {
  font-size: var(--h4);
}
.errorExplanation {
  padding: var(--spacer-element) !important;
  border-color: transparent !important;
}
