:root {
  /*
  Typography
  */
  --line-height: 1.7;
  --heading-font-weight: 400;
  --heading-text-transform: uppercase;
  --heading-font-family: var(--ff-primary);

  //Generate --h variables from h6 to h2
  $min: 20px;
  $max: 22px;
  $min-scale: 1.1;
  $max-scale: 1.22;
  $i: 6;
  @while $i >= 2 {
    --h#{$i}: #{clamp-smart($min, $max)};
    $min: $min * $min-scale;
    $max: $max * $max-scale;
    $i: $i - 1;
  }
  --h1: #{clamp-smart(36px, 66px)};

  --fs-xs: 0.75em;
  --fs-sm: 0.875em;
  --fs-base: 1em;
  --fs-lg: 1.125em;
  --fs-xl: 1.25em;

  /*
  Structure Variables
  */

  --header-height: #{clamp-smart(48px, 75px, 768px, 1900px)};

  --text-indent: #{clamp-smart(30px, 60px)};

  --spacer-element: #{clamp-smart(16px, 23px)};
  --spacer-element-sm: calc(var(--spacer-element) / 2);
  --spacer-element-md: #{clamp-smart(16px, 23px * 2)};

  --spacer-section: #{clamp-smart(30px, 100px)};

  --spacer-base: #{clamp-smart(20px, 30px)};
  --spacer-1: calc(var(--spacer-base) * 0.33);
  --spacer-2: calc(var(--spacer-base) * 0.66);
  --spacer-3: calc(var(--spacer-base));
  --spacer-4: calc(var(--spacer-base) * 1.33);
  --spacer-5: calc(var(--spacer-base) * 1.66);

  --container-width: 1440px;
  --container-padding: #{clamp-smart(16px, 38px)};

  --decor-width: 70%;
  @include bp(md) {
    --decor-width: 50%;
  }

  --input-height: 3em;
  --input-x-padding: 1.25em;
  --input-y-padding: 0.75em;

  --border-width: 1px;

  --shadow: 0 0.25em 0.5em 0.5em var(--color-shadow);

  /*
  Transitions
  */
  --transition-duration-value: 300;
  --transition-duration: calc(1ms * var(--transition-duration-value));
  --transition-timing-function: ease;
  --transition: var(--transition-duration) var(--transition-timing-function);

  --animate-transition: 500ms ease;
  --animate-distance: 1.5rem;

  // Sprites (for Additional CSS)
  --sprite-arrow: url("../sprite/sprite.svg#arrow-usage");
  --sprite-chevron: url("../sprite/sprite.svg#chevron-usage");
  --site-arrow: var(--sprite-arrow);
  --site-arrow-transform: rotate(-45deg)
}
