table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  tfoot,
  tbody {
    tr {
      border-top: var(--border-width) solid var(--color-border);
      &:first-child {
        border: none;
      }
    }
  }
  thead tr:last-child {
    border-bottom: calc(var(--border-width)) solid var(--color-primary);
  }
  tfoot tr:first-child {
    border-top: calc(var(--border-width)) solid var(--color-primary);
  }
  td,
  th {
    padding: 0.6em 0;
    &:not(:first-child) {
      padding-left: 0.6em;
    }
  }
}
