$overlay-menu-breakpoint: xl;

.site-header {
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1500;
  display: flex;
  align-items: center;
  &:not(.theme-color-dark){
    background: var(--color-surface-solid);
  }
  &-space {
    min-height: var(--header-height);
  }
  .button {
    height: var(--header-height);
  }
}

//Site Menu - Start
.site-menu {
  //Global - Start
  @include reset-list;
  margin: 0;
  line-height: 1.4;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacer-element);

  .current-menu-item, .current-menu-parent, .current-menu-ancestor {
    > a,
    > .dropdown-toggle {
      color: var(--color-current-link);
    }
  }

  li,
  ul {
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
    position: relative;
  }

  > li > a {
    padding: var(--spacer-element-sm) 0;
  }
  a:hover {
    color: var(--color-current-link);
  }
  a {
    display: flex;
    align-items: center;
    flex: 1 0 0%;
    color: inherit;
  }
  //Global - End

  //Responsive - Start
  &--responsive {
    //Desktop - Start
    @include bp($overlay-menu-breakpoint) {
      .dropdown-toggle {
        pointer-events: none;
        padding: var(--spacer-element-sm) var(--spacer-element) var(--spacer-element-sm) calc(var(--spacer-element) / 4);
      }

      .dropdown-responsive {
        --color-current-link: var(--color-text);
        color: var(--color-text);
        @include dropdown;
        &.element-collapse {
          display: block;
        }

        .menu-item-has-children > a {
          padding-right: 0;
        }
        .dropdown-toggle__icon {
          transform: rotate(-90deg);
        }
        a {
          text-decoration: none;
        }
      }

      li:hover > .dropdown-responsive {
        @include dropdown-visible;
      }

      > li > .dropdown-toggle {
        margin-right: calc(var(--spacer-element) * -1);
      }
    }
    //Desktop - End

    //Mobile - Start
    @include bp($overlay-menu-breakpoint, max) {
      gap: 0;
      align-items: stretch;
      flex-direction: column;
      margin: 1.8em 0;
      font-size: 1.25em;

      .dropdown-responsive {
        width: 100%;
        a {
          padding: 0.75em 0;
        }
      }

      li {
        flex-wrap: wrap;
      }
      a {
        text-decoration: none;
      }
      > li > a {
        font-size: 1.4em;
      }

      .dropdown-toggle {
        font-size: 1.25rem;
        padding: 0.5rem;
        transform: translateX(0.5rem);
      }

      .dropdown-toggle--active .dropdown-toggle__icon {
        transform: rotate(-180deg);
      }
    } //Mobile - End
  } //Responsive - End
} //Site Menu - End

.dropdown-toggle {
  display: flex;
  &,
  &:hover,
  &:focus {
    color: inherit;
    background: none;
    border: none;
  }
  &__icon {
    transition: transform var(--transition);
  }
}

.overlay-menu-toggle {
  min-height: var(--header-height);
  text-transform: capitalize;
  line-height: 1;
  padding: 0 var(--container-padding) 0;
  display: flex;
  align-items: center;
  &,
  &:hover,
  &:focus {
    color: inherit;
    background: none;
    border: none;
  }
  &__icon {
    .has-logo & {
      order: 1;
    }
    font-size: 1.5em;
  }
}

//Transform main menu to hamburger menu
@include bp($overlay-menu-breakpoint, max) {
  .overlay-menu {
    &__header {
      display: flex;
    }
    &__wrap {
      padding: 0 var(--container-padding) var(--container-padding);
      margin: auto 0;
      > :last-child {
        margin-bottom: 0;
      }
    }
    &--left {
      left: 0;
      transform: translateX(-100%);
    }
    &--right {
      right: 0;
      transform: translateX(100%);
      .overlay-menu__header {
        justify-content: flex-end;
      }
    }
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
    width: 85%;
    max-width: 30rem;
    background: var(--color-bg-overlay-menu);
    visibility: hidden;
    transition: transform var(--transition);
    &--visible,
    &--changing {
      visibility: visible;
    }
    &--visible {
      transform: translateX(0);
    }
  }
}

.cta-link {
  flex: 0 0 auto;
  .has-logo & {
    display: none;
    @include bp(md) {
      display: block;
    }
  }
}

@include bp($overlay-menu-breakpoint) {
  .hide-header-element {
    display: none !important;
  }
}
